---
import Profile from '../sections/Profile.astro';
import { Buttons } from '../sections/Buttons.jsx';
import Footer from '../sections/Footer.astro';
import { userData } from '../userData.js';

const { user } = Astro.params;

export function getStaticPaths() {
   return [{ params: { user: 'jull-altamirano' } }, { params: { user: 'oscar-vanegas' } }];
}
---

<div class='bg-black'>
   <div class='min-h-screen bg-portada'>
      <Profile data={userData[user]} />
      <Buttons
         client:visible
         data={userData[user]}
      />
      <Footer />
   </div>
</div>

<style is:global>
   .btn-blue {
      background-color: white;
   }

   .btn-blue:hover {
      background-color: #323344;
   }

   .bg-blue {
      background-color: #002c84;
   }

   .bg-darkblue {
      background-color: #323344;
   }

   .bg-portada {
      background-image: url('/bg-vehiculo.webp');
      background-position: center;
      background-size: cover;
      background-color: rgba(0, 44, 132, 0.7);
      background-blend-mode: darken;
   }

   .bg-profile {
      background-image: url('/trama-profile.webp');
      background-position: center;
      background-size: cover;
      background-color: rgba(0, 44, 132, 0.8);
      background-blend-mode: color;
   }

   .bg-black {
      background-color: rgba(0, 0, 0, 0.3);
      background-blend-mode: darken;
   }
</style>
