---
import Profile from '../sections/Profile.astro';
import { Buttons } from '../sections/Buttons.jsx';
import { userData } from '../userData';

const { user } = Astro.params;

export function getStaticPaths() {
   return [{ params: { user: 'jull-altamirano' } }];
}
---

<div id='root'>
   <Profile data={userData[user]} />
   <Buttons
      client:visible
      data={userData[user]}
   />
</div>
