<div class="grid text-center pb-40">
   <i class="text-white text-5xl">"Una empresa en movimiento"</i>
</div>

<style>
   i {   
      width: 0;
      overflow: hidden;
      white-space: nowrap;
      margin: 0 auto;
      animation:
         typing 4s steps(38) 1s 1 normal both,
         blink 1s steps(1) infinite;
   }
   @keyframes typing {
      from {
         width: 0;
      }
      to {
         width: 100%;
      }
   }
   @keyframes blink {
      50% {
         border-color: transparent;
      }
   }
</style>
